.header {
  background-color: #ea1111;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
